POSTGRES_DB=telenotify
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpass
POSTGRES_HOST=postgres-telenotify
POSTGRES_PORT=5432
ENV=dev
MIGRATION_CONN_STRING=postgres://pguser:pgpass@postgres-telenotify:5432/telenotify
